/* PHASE 12: Modal */
.modal{
 
}


.modal-screen{
  top: 0px; 
  bottom: 0px; 
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: 2;
  background-color: rgba(0,0,0,0.8)
}

.modal-form{
  position: absolute;
  top: 0px; 
  bottom: 0px; 
  left: 0px;
  right: 0px;

}