.container{
  background-color: aqua;
  border: 10px solid black;
  padding: 5px;
  margin: 10px;
}

.time{
  display: flex;
  font-family: Coiny;
  font-size: 4em;
  margin: 20px;
  justify-content: space-evenly;
  
}
.date{
  display: flex;
  font-family: Coiny;
  font-size: 4em;
  margin: 20px;
  justify-content: space-evenly;
  
}
